<div class="row">
    <div class="col-12 text-center mt-4">
        <h3>เกี่ยวกับเรา</h3>
    </div>
</div>

<div class="row">
    <div class="col-12 mt-4">
        <div class="text-center">
            <img src="https://f.ptcdn.info/733/062/000/pnoio4d43GZwZyS89zZ-s.jpg" class="rounded" alt="..." width="50%"
                height="50%">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 mt-3">
        <h4>ประวัติความเป็นมา</h4>
        <a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;มหาวิทยาลัยเกษตรศาสตร์
            วิทยาเขตศรีราชา เดิมเป็นสถานีวิจัยและสถานที่ฝึกงานเพื่อการศึกษาและวิจัยของนิสิตมหาวิทยาลัยเกษตรศาสตร์
            วิทยาเขตบางเขน และในปี พ.ศ. 2532 มหาวิทยาลัยเกษตรศาสตร์ได้เสนอ
            “โครงการจัดตั้งวิทยาเขตศรีราชา”ต่อทบวงมหาวิทยาลัย
            โดยมีวัตถุประสงค์เพื่อปรับเปลี่ยนเป็นสถาบันจัดการเรียนการสอนในสาขาวิชาที่รองรับการขยายตัวทางเศรษฐกิจ
            และการพัฒนากำลังคนในเขตภูมิภาคชายฝั่งทะเลตะวันออก
            ตลอดจนเป็นการขยายโอกาสทางการศึกษาในเขตภูมิภาคตะวันออก ทั้งนี้สามารถสรุปการพัฒนาวิทยาเขตศรีราชา ตั้งแต่ปี
            พ.ศ. 2533 ถึงปีปัจจุบัน
        </a>

    </div>
    <div class="col-12 mt-4">
        <div class="text-center">
            <img src="https://f.tpkcdn.com/images-720/c6060b69db6b1600fffbfe68306b3700.jpg" class="rounded" alt="..."
                width="50%" height="50%">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 mt-3">
        <h4>ประวัติพระพิรุณทรงนาค</h4>
        <a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            พระพิรุณทรงนาคเป็นเครื่องหมายทางราชการของมหาวิทยาลัยเกษตรศาสตร์และเป็นเทพแห่งฝนที่ทรงนำความสมบูรณ์มาให้แก่พืชพรรณธัญญาหาร
            ท่านอธิการบดีมหาวิทยาลัยเกษตรศาสตร์ ( รศ.ดร.วิโรจ อิ่มพิทักษ์ )
            จึงดำริให้ทุกวิทยาเขตมีพระพิรุณทรงนาคประดิษฐานไว้เพื่อเป็นเอกลักษณ์ เชิดชูมหาวิทยาลัย
            และเป็นแหล่งศูนย์รวมจิตใจของบุคลากรและนิสิตและได้จัดสร้างองค์พระพิรุณทรงนาคขนาดเท่ากับคนจริง ( ประมาณ ๑.๕๐
            เมตร ) ซึ่งมีมูลค่า ๑,๐๐๐,๐๐๐ บาท มอบให้วิทยาเขตศรีราชา <br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            พระพิรุณทรงนาค มหาวิทยาลัยเกษตรศาสตร์ วิทยาเขตศรีราชา ประดิษฐานอยู่บนแท่นสัมฤทธิ์กลม ขนาดเส้นผ่าศูนย์กลาง ๑
            เมตร มีน้ำพุที่ละเอียดอ่อนดั่งฟองคลื่นพวยพุ่งขึ้นจากพื้นน้ำล้อมรอบฐาน
            ทำให้มองเห็นองค์พระพิรุณโดดเด่นเสมือนประทับยืนบนพญานาคที่กำลังแหวกว่ายอยู่ในท้องทะเล
            ลานพระพิรุณปูด้วยอิฐบล็อกรูปแปดเหลี่ยม อิฐศิลาแทรกด้วยอิฐบล็อกรูปคธาและจัตุรัส รอบ ๆ ลาน พระพิรุณขนาด ๓๐ x
            ๔๐ ตารางเมตร ประดับด้วยโคมไฟ ๑๒ จุด ไฟสปอตไลท์ ๔ จุด และไฟใต้น้ำอีก ๒๐ จุด เมื่อเปิดไฟทั้งหมดในยามราตรี
            แสงไฟที่สาดส่องกระทบอง ๕ พระพิรุณทรงนาค จะสะท้อนออกจากองค์พระพิรุณ ทำให้เห็นอง ๕
            ท่านส่องแสงเป็นประการสีทองงามระยับ
            <br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            เมื่อวันที่ ๑๙ มิถุนายน ๒๕๔๖ เวลา ๐๙.๑๙ น. ตรงกับ วันพฤหัสบดี แรม ๕ ค่ำ เดือน ๗ ปี มะแม
            ได้จัดพิธีบวงสรวงอัญเชิญพระพิรุณทรงนาคประดิษฐาน ณ มหาวิทยาลัยเกษตรศาสตร์ วิทยาเขตศรีราชา
            โดยได้รับเกียรติจากท่านนายกสภามหาวิทยาลัยเกษตรศาสตร์ (ฯพณฯ นายอำพล เสนาณรงค์ ) เป็นประธานในพิธี
            พร้อมด้วยอธิการบดีมหาวิทยาลัยเกษตรศาสตร์(รศ.ดร.วิโรจ อิ่มพิทักษ์ ) ในการนี้พราหมณ์ภพสาม สยมภพ
            จากเทวะสถานโบสถ์พราหมณ์ เสาชิงช้า สำนักพระราชวัง เป็นผู้ประกอบพิธี
        </a>

    </div>
    <div class="col-12 mt-4">
        <div class="text-center">
            <img src="https://fastly.4sqi.net/img/general/600x600/10081680_uJheMNttiN72LOdR2dC4QzALn3UAFU4ucY4SzgKA9r0.jpg"
                class="rounded" alt="..." width="50%" height="50%">
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-3">
            <h4>เสาธงเมล็ดข้าวเปลือก</h4>
            <a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                เสาธงเมล็ดข้าวเปลือกเป็นเอกลักษณ์อีกอย่างหนึ่งของมหาวิทยาลัยเกษตรศาสตร์
                ข้าวเปลือกเป็นสัญลักษณ์แห่งความอุดมสมบูรณ์ของแผ่นดินไทย เพราะความมั่งคั่งที่แท้จริงของชาตินั้น
                ล้วนมาจากพื้นแผ่นดินทั้งสิ้น เกษตรศาสตร์ จึงเป็นศาสตร์ของแผ่นดิน
                ที่จะนำความอุดมสมบูรณ์ของแผ่นดินมาสร้างความมั่งคั่งให้ชาติไทยต่อไป <br><br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                เมื่อวันที่ ๑๙ มิถุนายน ๒๕๔๖ เวลา ๐๙.๑๙ น. ตรงกับ วันพฤหัสบดี แรม ๕ ค่ำ เดือน ๗ ปี มะแม
                ได้จัดพิธีบวงสรวง ณ มหาวิทยาลัยเกษตรศาสตร์ วิทยาเขตศรีราชา
                โดยได้รับเกียรติจากท่านนายกสภามหาวิทยาลัยเกษตรศาสตร์ (ฯพณฯ นายอำพล เสนาณรงค์ ) เป็นประธานในพิธี
                พร้อมด้วยอธิการบดีมหาวิทยาลัยเกษตรศาสตร์ (รศ.ดร.วิโรจ อิ่มพิทักษ์ )

            </a>

        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-3">
            <h4>ตราสัญลักษณ์มหาวิทยาลัย</h4>

        </div>
        <div class="col-4 mt-3">
            <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header">ตราที่1</div>
                <div class="card-body">
                    <img src="https://www.src.ku.ac.th/info/images/LogoKU/ku_color_small.png" class="card-img-top"
                        alt="...">
                </div>
            </div>
        </div>
        <div class="col-4 mt-3">
            <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header">ตราที่2</div>
                <div class="card-body">
                    <img src=" https://www.src.ku.ac.th/info/images/LogoKU/ku_black_small.png" class="card-img-top"
                        alt="...">

                </div>
            </div>
        </div>
        <div class="col-4 mt-3">
            <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header">ตราที่3</div>
                <div class="card-body">
                    <img src="https://www.src.ku.ac.th/info/images/LogoKU/KUSRC.png" class="card-img-top" alt="...">
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-12 mt-3">
            <h4>ผังแม่บทมหาวิทยาลัยเกษตรศาสตร์ วิทยาเขตศรีราชา</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <img src="https://www.src.ku.ac.th/E_Book/masterplanOS/images/plan1_Page_03.jpg" class="card-img-top"
                alt="..." >
        </div>

    </div>